<nav id="sub-nav">
    <ul>
        <li><a ng-click="vm.bracket = 2v2;">2v2</a></li>
        <li><a ng-click="vm.bracket = 3v3;">3v3</a></li>
        <li><a ng-click="vm.bracket = 5v5;">5v5</a></li>
        <li><a ng-click="vm.bracket = rbg;">RBG</a></li>
    </ul>
</nav>

<div ui-view></div>
<!--<div class="row">
    <div class="col-md-4">
        <live-activity bracket="2v2" region="vm.region"></live-activity>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <live-activity bracket="3v3" region="vm.region"></live-activity>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <live-activity bracket="5v5" region="vm.region"></live-activity>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <live-activity bracket="rbg" region="vm.region"></live-activity>
    </div>
</div>-->